@import './layout/nav.scss';
@import './layout/itemListC.scss';
@import './layout/itemCount.scss';
@import './layout/cartOptions.scss';
@import './layout/checkoutForm.scss';

@import './components/loader.scss';
@import './components/botones.scss';
@import './components/cards.scss';
*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    .appWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
}