@charset "UTF-8";
nav {
  display: grid;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
  grid-template-rows: 100%;
  grid-template-areas: "nombre categorias cart";
  align-items: center;
  justify-items: center;
  height: 48px;
  background-color: rgb(80, 59, 52);
  color: white;
  padding: 0 16px;
  width: calc(100% - 32px);
}
nav .navNombre {
  grid-area: nombre;
  justify-self: left;
  font-size: 28px;
  margin: 0;
  color: white;
  text-decoration: none;
}
nav .navCategorias {
  grid-area: categorias;
}
nav .navCategorias .navBtn {
  border: unset;
  background-color: unset;
  color: white;
  font-size: 18px;
  min-width: 64px;
  height: auto;
  margin: 0 16px;
  text-decoration: none;
}
nav .navCategorias .navBtn:hover {
  background-color: rgb(126, 101, 93);
  cursor: pointer;
}
nav .navCategorias .navBtn:active {
  background-color: rgb(46, 33, 28);
}
nav .cartWidget {
  grid-area: cart;
  justify-self: right;
  background-color: rgb(46, 36, 32);
  border-radius: 4px;
  padding: 4px;
  color: white;
  text-decoration: none;
  font-family: "poppins";
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav .cartWidget:hover {
  background-color: rgb(126, 101, 93);
}
nav .cartWidget img {
  margin-right: 8px;
}

.itemListC {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.itemListC .itemList {
  margin-top: 8px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.itemDetailC {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
}
.contador .contadorUi {
  background-color: rgba(22, 41, 128, 0.2);
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.contador .contadorUi .contadorCantidad {
  color: black;
  width: 100%;
  padding: 5px 0;
  font-size: 24px;
  text-align: center;
}

.botonContador {
  cursor: pointer;
  font-size: 13px;
  width: 100px;
  height: 50px;
  background-color: #2c52ff;
  border: none;
  color: white;
  border-radius: 8px;
}
.botonContador:active {
  border: 2px solid #2c52ff;
  background-color: white;
  color: black;
}

.btnañadir {
  margin-top: 10px;
  padding: 5px 0;
  width: 100%;
}

.btndisabled {
  background-color: #ececec;
  border: none;
  color: rgb(92, 92, 92);
  border-radius: 8px;
  cursor: default;
}
.btndisabled:active {
  border: none;
  background-color: #ececec;
  color: rgb(92, 92, 92);
}

.cartTotal {
  font-size: 26px;
  width: auto;
  background-color: rgb(80, 59, 52);
  color: white;
  padding: 0 16px;
}

.cartOptions {
  background-color: rgb(80, 59, 52);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 0 16px 16px 16px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.cartOptions .linkOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.cartOptions .quit {
  margin-left: auto;
}

.cartNot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.checkoutContainer h1 {
  text-align: center;
}

.checkoutFormContainer {
  margin-top: 16px;
  width: 300px;
}
.checkoutFormContainer .checkoutFormField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.checkoutFormContainer .checkoutFormField label {
  font-size: 18px;
}
.checkoutFormContainer .checkoutFormField input {
  height: 28px;
  padding: 0 8px;
}

.checkoutOrdenCreada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkoutOutStock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderContainer {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #381f16 94%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #381f16);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.botonLink {
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  background-color: white;
  padding: 8px;
  color: black;
  font-family: "poppins";
  border-radius: 8px;
  background-color: #2c52ff;
  border: none;
  color: white;
  border-radius: 8px;
}
.botonLink:active {
  border: 2px solid #2c52ff;
  background-color: white;
  color: black;
}

.itemDt:last-of-type {
  margin-top: 8px;
}

.quit {
  height: unset;
  width: auto;
  padding: 8px;
  background-color: #ff2c37;
  border: none;
  color: white;
  border-radius: 8px;
}
.quit:active {
  border: 2px solid #ff2c37;
  background-color: white;
  color: black;
}

.itemCard {
  background-color: #d1bdba;
  border-radius: 16px;
  max-width: 300px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.itemCard .itemImg {
  background-color: white;
  margin: 8px;
  border-radius: 14px;
}
.itemCard img {
  object-fit: contain;
  width: 250px;
  height: 200px;
}
.itemCard .precio {
  font-size: 20px;
  font-weight: 500;
}
.itemCard .cardBtn {
  border: unset;
  background-color: rgba(126, 101, 93, 0.5);
  border-radius: 4px;
  padding: 2px 10px;
  margin-bottom: 8px;
  font-size: 18px;
  min-width: 64px;
  height: auto;
  color: white;
  text-decoration: none;
}
.itemCard .cardBtn:hover {
  cursor: pointer;
}
.itemCard .cardBtn:active {
  color: black;
  background-color: rgb(255, 255, 255);
}

.detail {
  max-width: unset;
  max-height: fit-content;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  padding: 8px 0;
}
.detail .itemImg {
  max-width: 400px;
  max-height: 400px;
  margin: 0;
}
.detail .detailInfo {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}
.detail .count {
  margin: 0;
}
.detail .count .contador {
  height: fit-content;
}
.detail .count .contador button {
  margin: 0;
  border-radius: 8px;
}
.detail .count .contador button:active {
  border: none;
}
.detail .count .contador .btnañadir {
  margin-top: 16px;
  padding: 5px 0;
}

.cartItem {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d1bdba;
}
.cartItem:nth-of-type(even) {
  background-color: #b69590;
}
.cartItem img {
  width: 80px;
}
.cartItem .cartItemInfo {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.cartItem .cartItemInfo span {
  font-weight: 500;
}
.cartItem .cartItemBotones button {
  margin-right: 16px;
}
.cartItem .cartItemBotones button:last-of-type {
  margin-right: unset;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
body .appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
