.itemListC{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    .itemList{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.itemDetailC{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}